
.container {
  padding: 16px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background-color: #18A0FB;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0D8DE3;
}